#share {
    margin: 47px 0 24px;
    text-align: center;
}

footer img {
    padding: 22px 19px 0;
    margin: auto;   
}

footer p {
    font-family: $font-secundario;
    text-align: center;
    margin-bottom: 28px;
}

footer div {
    width: 100%;
    height: 5px;
    background-color: $primario;
}