* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    background-color: #37383C;
    // overflow-x: hidden;
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}

.light {
    background-color: white;
}

.dark{
    background-color: #37383C;
    color: white;
}

.dark-text {
    color: white;
}

.light-text {
    color: $primario;
}

.primary-color{
    color: $primario;
}


#color {
    width: 100%;
    height: 5px;
    background-color: $primario;
}

h1 {
    font-size: 1.56rem;
    color: $primario;
    font-family: $font-principal;
}

h2 {
    font-size: 1.25rem;
    color: $primario;
    font-family: $font-principal;
}

h3 {
    font-size: 1rem;
    font-family: $font-principal;
    color: $primario;
}

h4 {
    font-size: 0.94rem;
    font-family: $font-secundario;
}

figcaption{
    font-size: 0.9rem;
    font-family: $font-secundario;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-family: $font-principal;
    // font-size: 0.81rem;
}


.flex-container {
    display: flex;
}

.inline-block {
    display: inline-block;
}
