@media screen and (min-width: 769px){
    footer{
        padding: 100px 0 40px;
        justify-content: space-between;
        align-items: center;

        section:nth-child(2n + 1) img {
            padding: 0 10px;  
        }

        section:nth-child(2n + 1) h4 {
            font-size: 0.8rem;
            margin-right: 25px;
        }

        section:nth-child(2n + 2) p {
            font-size: 0.8rem;
            font-family: $font-secundario;
        }
    }
                
    #line-below-footer::after {
        content: '';
        display: block;
        background-color: $primario;
        height: 5px;
        width: 100%;
    }
}

