footer{
    width: 100vw;
    height: 116px;
}

footer{
    justify-content: space-between;
    align-items: center;
}

#social-media div a {
    padding-left: 15px;
}

footer p {
    font-family: $font-secundario;
}

#line-footer {
    width: 100%;
    height: 5px;
    background-color: $primario;
    bottom: 0;
    position: absolute;
}