@media screen and (max-width: 480px){
    header{
        #logo {
            width: 48.8px;
            height: 48.8px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .hamburger {
            padding: 15px 15px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            outline: none;
            border: 0;
            margin: 0;
            overflow: visible; 
        }
        
        .hamburger.is-active .hamburger-inner,
        .hamburger.is-active .hamburger-inner::before,
        .hamburger.is-active .hamburger-inner::after {
            background-color: #000; 
        }
          
        .hamburger-box {
            width: 25px;
            height: 5px;
            display: inline-block;
            position: relative; 
        }
          
        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; 
        }
        
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 25px;
            height: 3px;
            background-color: #000;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease; 
        }
        
        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; 
        }
        
        .hamburger-inner::before {
            top: -10px; 
        }
        
        .hamburger-inner::after {
            bottom: -10px; 
        }
        
        .hamburger--squeeze .hamburger-inner {
            transition-duration: 0.075s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
        }
        
        .hamburger--squeeze .hamburger-inner::before {
            transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
        }
        
        .hamburger--squeeze .hamburger-inner::after {
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
        }
        
        .hamburger--squeeze.is-active .hamburger-inner {
            transform: rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
        }
        
        
        .hamburger--squeeze.is-active .hamburger-inner::before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
        }
        
        
        .hamburger--squeeze.is-active .hamburger-inner::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
        }
        
        .hamburger ol {
            margin: 48px -15px;
            background-color: $primario;
            width: 100vw;
            height: 100vh;
            top: 0;
            right: 0;
            position: absolute;
            opacity: 0.9;
            list-style: none;
        }
        
        .menu a {
            margin-top: 17px;
            display: block;
            font-size: 0.9rem;
            text-decoration: none;
            padding: 10px 50px;
            cursor: pointer;
            font-family: $font-principal;
            font-weight: bolder;
        }


        
            
        // Estilos cuando se aplique javascript
        

        .active {
            transform: translate(0, -10000px);
        }

        div.line {
            margin: 5px auto 0 auto;
            margin-left: auto;
            margin-right: auto;
            width: 30px;
            height: 1px;
            border-radius: 15px;
            background-color: white;
        }
    }
}



@media screen and (min-width: 769px){
    #color {
        width: 100%;
        height: 5px;
        background-color: $primario;
    }

    .wrapper {
        margin: 0px 156px 0px;
    }

    header{
        #logo {
            margin-top: 1.5%;
            width: 100%;
            height: 100%;
            max-height: 50px;
            max-width: 55px;
        }

        #barra-header button {
            border: 0;
            outline: none;
            background-color: transparent;
        }

        ol {
            display: flex;
            align-items: center; 
        }

        li {
            margin-top: 1.5%; 
            padding-left: 30px;
            list-style: none;
        }
    
        li a {
            font-family: $font-principal;
            font-weight: 600;
            font-size: 0.9rem;
            padding-left: 50px;
        }

        li a:hover {
            text-decoration: solid underline;
            text-decoration-color: #5ED7C6;
        }

        li a:active {
            color: #9CAFC3;
        }

        img {
            width: 54px;
        }
    }

    main{
        &#home {
            justify-content: center;
        }
        
        h1 {
            width: 700px;
            font-size: 2.18rem;
        }

        input {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &#home img{
            display: block;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;

        }

        #container-results {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        #container-results img {
            width: 100%;
            min-width: 260px;
            max-width: 260px;
            height: 100%;
            min-height: 240px;
            max-height: 240px;
        }

        #gif{
            width: 100%;
            max-width: 550px;
            height: 100%;
            max-height: 550px;
        }

        #flex-2:nth-child(2){
            margin-left: 100px;
        }

        #flex-2:nth-child(2){
            margin-left: 100px;
        }

        #div-hover{
            width: 100%;
            height: 100%;
            background-color: $primario;
            opacity: 0.8;
            z-index: 3;
        }


    }

    #container-trending {
        width: 100%;
        max-width: 1050px;
    }

    #container-trending::-webkit-scrollbar{
        width: 0;
    }

    #container-trending::-webkit-scrollbar-thumb{
        width: 0;
    }

    #trending.flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #list-gifs{
        // overflow: hidden;
        width: 100%;
        max-width: max-content;
    }
    
    #btn-next {
        outline: none;
        background-color: transparent;
        border: 0;
    }

    #btn-next img {
        margin-left: 15px;
        width: 100%;
        max-width: 40px;
        height: 100%;
        max-height: 40px;
    }

    #btn-back{
        outline: none;
        background-color: transparent;
        border: 0;
    }

    #btn-back img {
        margin-right: 15px;
        width: 100%;
        max-width: 40px;
        height: 100%;
        max-height: 40px;
    }

    #message-content p{
        font-family: $font-secundario;
    }

    #message-content {
        margin-bottom: 30px;
    }
}