@charset "UTF-8";
@media screen and (max-width: 480px) {
  header #logo {
    width: 48.8px;
    height: 48.8px;
    margin-top: auto;
    margin-bottom: auto;
  }
  header .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    outline: none;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  header .hamburger.is-active .hamburger-inner,
  header .hamburger.is-active .hamburger-inner::before,
  header .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }
  header .hamburger-box {
    width: 25px;
    height: 5px;
    display: inline-block;
    position: relative;
  }
  header .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  header .hamburger-inner, header .hamburger-inner::before, header .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  header .hamburger-inner::before, header .hamburger-inner::after {
    content: "";
    display: block;
  }
  header .hamburger-inner::before {
    top: -10px;
  }
  header .hamburger-inner::after {
    bottom: -10px;
  }
  header .hamburger--squeeze .hamburger-inner {
    -webkit-transition-duration: 0.075s;
            transition-duration: 0.075s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  header .hamburger--squeeze .hamburger-inner::before {
    -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }
  header .hamburger--squeeze .hamburger-inner::after {
    -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  header .hamburger--squeeze.is-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-delay: 0.12s;
            transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  header .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }
  header .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  header .hamburger ol {
    margin: 48px -15px;
    background-color: #6742E7;
    width: 360px;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0.9;
  }
  header .menu a {
    margin-top: 17px;
    color: white;
    display: block;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
  }
  header .active {
    -webkit-transform: translate(0, -800px);
            transform: translate(0, -800px);
  }
  header div.line {
    margin: 5px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 1px;
    border-radius: 15px;
    background-color: white;
  }
}

@media screen and (min-width: 769px) {
  #color {
    width: 100%;
    height: 5px;
    background-color: #6742E7;
  }
  .wrapper {
    margin: 0px 156px 0px;
  }
  header #logo {
    margin-top: 1.5%;
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 55px;
  }
  header #barra-header button {
    border: 0;
    outline: none;
    background-color: transparent;
  }
  header ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header li {
    margin-top: 1.5%;
    padding-left: 30px;
    list-style: none;
  }
  header li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding-left: 50px;
    color: #6742E7;
  }
  header li a:hover {
    -webkit-text-decoration: solid underline;
            text-decoration: solid underline;
    -webkit-text-decoration-color: #5ED7C6;
            text-decoration-color: #5ED7C6;
  }
  header li a:active {
    color: #9CAFC3;
  }
  header img {
    width: 54px;
  }
  main#home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main h1 {
    width: 700px;
    font-size: 2.18rem;
  }
  main input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main#home img {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.light {
  background-color: white;
}

.dark {
  background-color: #37383C;
  color: white;
}

#color {
  width: 100%;
  height: 5px;
  background-color: #6742E7;
}

h1 {
  font-size: 1.56rem;
  color: #6742E7;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.25rem;
  color: #6742E7;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #6742E7;
}

h4 {
  font-size: 0.94rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#barra-header {
  width: 100%;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo {
  margin-left: 22px;
}

/**----------------------------------TÍTULO Y BUSCADOR DE GIFS (1ERA SECCIÓN)----------------------------------**/
#mode-btn {
  border: 0;
  background-color: transparent;
}

#home {
  width: 100%;
  margin: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home h1 {
  text-align: center;
  margin: 0 45px;
}

#home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  max-height: 130px;
  max-width: 400px;
}

#home h1 span {
  color: #5ED7C6;
}

#home input {
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 89.1%;
  max-width: 550px;
  line-height: 50px;
  border: 1px solid #6742E7;
  border-radius: 27px;
  outline: none;
  padding-left: 50px;
}

#home input::-webkit-input-placeholder {
  font-size: 1rem;
}

#home input:-ms-input-placeholder {
  font-size: 1rem;
}

#home input::-ms-input-placeholder {
  font-size: 1rem;
}

#home input::placeholder {
  font-size: 1rem;
}

input:focus {
  outline: none;
}

#home fieldset {
  border: 0;
}

#home button {
  top: -100px;
  margin-top: -34px;
  margin-right: 150px;
  display: block;
  float: right;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.line-active {
  margin-left: auto;
  margin-right: auto;
  width: 147px;
  height: 0.5px;
  background-color: #ebebeb;
}

#search-word {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

#container-results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container-results img {
  width: 156px;
  max-width: 100%;
  height: 120px;
  max-height: 100%;
  margin: 12.5px 10.5px;
}

#trending-categories h3 {
  margin: 31px 0 2px;
  text-align: center;
}

#trending-categories p {
  text-align: center;
  font-size: 0.88rem;
  margin: 0 75px 35px;
  color: #6742E7;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

#btn-container button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  border: 1px solid #6742E7;
  font-family: "Montserrat", sans-serif;
  color: white;
  z-index: 3;
  outline: none;
}

/**----------------------------------GIFS EN TENDENCIAS Y RECOMENDACIONES (2DA SECCIÓN)----------------------------------**/
.light-trending {
  background-color: #F3F5F8;
}

.dark-trending {
  background-color: #222326;
  color: white;
}

#trending-gifos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#trending-gifos h2 {
  padding: 46px 0 7px;
}

#trending-gifos p {
  margin: 0 21px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

#container-trending {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button#back-btn {
  width: 100%;
  max-width: 40px;
  border: 0;
  background-color: transparent;
}

#list-gifs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 3.5%;
}

button#next-btn {
  width: 100%;
  height: 100%;
  max-height: 40px;
  max-width: 40px;
  border: 0;
}

#container-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#list-gifs {
  width: 100% auto;
  max-width: 1100px;
}

#list-gifs img {
  width: 310px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  padding: 0 5px;
  margin-top: 32px;
  margin-bottom: 82px;
}

#list-gifs:nth-child(1) {
  margin-left: 30px;
}

#share {
  margin: 47px 0 24px;
  text-align: center;
}

footer img {
  padding: 22px 19px 0;
  margin: auto;
}

footer p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 28px;
}

footer div {
  width: 100%;
  height: 5px;
  background-color: #6742E7;
}
/*# sourceMappingURL=style.css.map */