#color {
    width: 100%;
    height: 5px;
    background-color: $primario;
}

#barra-header {
    width: 100%;
    height: 95px;
    justify-content: space-between;
}

#nav {
    margin-right: 26px;
}

#logo {
    margin-left: 22px;
}